@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
  --primary: #786d9a;
  --secondary: #c9b1c1;
  --error: #b88394;
}

/* base styles & title */
body{
  font-family: "Open Sans";
  background: #c9b1c1;
  margin: 0;
}
.App{
  max-width: 1080px;
  margin: 0 auto;
  background: #f5f5f8;
  padding: 20px;
  color:#0a090d
}